@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header-box {
  background: #384259;
  padding-top: 108px;
  padding-bottom: 82px;
  }

h1 {
  width: 500px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  }
    
h2 {
    width: 839px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ABB4CB;
    }

.main-section {
  padding-top: 51px;
}

.faq {
  border-bottom: 1px solid #7AC7C4;
}

.faq-button {
  padding: 24px 24px 24px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #384259;
  display: flex;
  background: #fff;
  border: none;
}

